body {
    background: linear-gradient(135deg, #ff00cc, #00d2ff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 80vw;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#prompt span {
    color: #5ccfe6;
    font-size: 28px;
    margin-right: 10px;
}

#commandInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #5ccfe6;
    color: #fff;
    padding: 10px;
    outline: none;
    
    font-size: 78px;
    text-align: center;
    caret-color: #5ccfe6;
    font-family: inherit;
}

#commandInput::placeholder {
    color: #e3e3e3;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    margin-top: 10px;
    
}

#searchResults li {
    margin-left: 30px;
    margin-top: 40px;
}

.tag {
    color: #935ce6;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #00ffff;
}

a:visited {
    color: #bebebe;
}
